/venv/
/env/
/.idea/
/__pycache__/
/media/
/contact_list/__pycache__/settings.cpython-38.pyc/
contacts/__pycache__/serializers.cpython-38.pyc/
contacts/__pycache__/urls.cpython-38.pyc/
contacts/__pycache__/views.cpython-38.pyc/


venv/
env/
.idea/
__pycache__/
media/
contact_list/__pycache__/settings.cpython-38.pyc/
/contacts/__pycache__/serializers.cpython-38.pyc/
/contacts/__pycache__/urls.cpython-38.pyc/
/contacts/__pycache__/views.cpython-38.pyc/