{% extends "layout/base.html" %}
{% block title %} Classes {% endblock %}
{% block body %}
<div class="buttons">
    <br>
    <br>
    <button id="button"><a href="http://127.0.0.1:8000/students/class/1/">Class 1</a></button><br>
    <br>
    <button id="button"><a href="http://127.0.0.1:8000/students/class/2/">Class 2</a></button><br>
    <br>
    <button id="button"><a href="http://127.0.0.1:8000/students/class/3/">Class 3</a></button><br>
    <br>
    <button id="button"><a href="http://127.0.0.1:8000/students/class/4/">Class 4</a></button><br>
    <br>
    <button id="button"><a href="http://127.0.0.1:8000/students/class/5/">Class 5</a></button><br>
    <br>
</div>
<script>
    $('#home').removeClass('active')
    $('#classes').addClass('active')
</script>
{% endblock %}
