<div class="menu">
    <ul>
        <li><a id="home" class="active" href="http://127.0.0.1:8000/" >Home</a></li>
        <li><a id="teacher" href="/teachers/" >Teachers</a></li>
        <li><a id="student" href="http://127.0.0.1:8000/students" >Students</a></li>
        <li><a id="classes" href="http://127.0.0.1:8000/classes" >Classes</a></li>
        <li><a id="facility" href="http://127.0.0.1:8000/facility/" >Facility</a></li>
        <li><a id="student_post" href="http://127.0.0.1:8000/students/student_post" >Student Post</a></li>
        <li id="hideup"><a id="singup" href="/students/student_sing_up/" >Sign Up</a></li>
        <li id="hidein"><a id="singin" href="/students/student_sing_in/" >Sign In</a></li>
        <li id="hideout"><a id="signout" href="#" >Sign Out</a></li>
        <li id="hideuser"><a id="user_name" ></a></li>
        <li><a target="_blank" id="admin" href="http://127.0.0.1:8000/admin" >Admin</a></li>
    </ul>
</div>

